<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contruindo com EJS</title>
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style: none;
}

body {
    padding: 50px;
}

header {
    margin-bottom: 20px;
}

main {
    padding: 50px 20px;
    background: #dbdbdb;
    margin-bottom: 20px;
}

main h1 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
}
    </style>
</head>