<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>

<body>
    <%- include('../partials/header', {pagina: 'about'}); %>

    <main>
        <h1>Sobre Mim</h1>
        <p>Oi sou Rafael Mauricio e estou estudando com a professora Jakeline!</p>
    </main>
    
    <%- include('../partials/footer'); %>
</body>
</html>